<div class="imgcontainer">
    <img src="assets/About us.jpg" alt="Avatar" class="avatar" width="1500" height="400">
</div>

<button onclick="window.location.href='http://localhost:4200/Home';" class="btn btn-primary">Back</button>
<div class="container">
    <p align="justify">
        A library Management system is software that ts designed to manage all the functions of a library.It
        helps to maintain the databases of new books and the books that are borrowed by members along with
        their duedates.This system completely data management process.It automates many of the tasks that are
        usually done bt the admin.The most important part is that it not nly improves data accurancy but also
        optimizes workflows for staff members.
    </p>
</div>
<div>
    <h6>Contact:9264724676</h6>
    <h6>Email:admin123@gmail.com</h6>
</div>