<div class="container">
    <table class="table table-striped">
        <tr>
            <th>BORROWID</th>
            <th>USERID</th>
            <th>USERNAME</th>
            <th>BOOKID</th>
            <th>ISSUEDATE</th>
            <th>DUEDATE</th>
        </tr>
        <tr>
            <td>{{borrowbook.borrowid}}</td>
            <td>{{borrowbook.userid}}</td>
            <td>{{borrowbook.username}}</td>
            <td>{{borrowbook.bookid}}</td>
            <td>{{borrowbook.issuedate}}</td>
            <td>{{borrowbook.duedate}}</td>
</tr>
</table>
</div>