<div class="imgcontainer">
    <img src="assets/homepage.jpg" alt="Avatar" class="avatar" width="1500" height="400">
</div>
<h3 class="text-center">WELCOME TO LIBRARY MANAGEMENT SYSTEM</h3>
<hr />
<div class="container">
    <div class="float-right">

        <a href="adminLogin" class="btn btn-primary">Admin</a>&nbsp;&nbsp;&nbsp;

        <a href="userLogin" class="btn btn-success">User Login</a>&nbsp;&nbsp;&nbsp;

        <a href="addUser" class="btn btn-secondary">User Register</a>&nbsp;&nbsp;&nbsp;

        <a href="aboutus" class="btn btn-info">AboutUs</a>
    </div>
    <!-- <div style="padding-left: 20px;">
        <h4>gdfgjhj</h4>
        <p class="text-justify">
            Be sure to have your pages set up with the latest design and development standards. That means using an
            HTML5
            doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your
            pages
            should look like this:Bootstrap employs a handful of important global styles and settings that you’ll need
            to be
            aware of when using it, all of which are almost exclusively geared towards the normalization of cross
            browser
            styles. Let’s dive in.


        </p> -->

    </div>
<!-- </div> -->